<div class="row">
	<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
		<div class="col-lg-3 col-sm-3 col-md-3 col-xs-3" ng-repeat="data in cardData">
			<div class="cards" id="card{{data.card_id}}" ng-click="checkForTheMatch(this)"></div>
		</div>                
	</div>
</div>
<div class="row">
	<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12 score-board">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="score achieved"><span>Score Achieved :</span>{{achievedScore}}</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="score remaining"><span>Score remaining :</span>{{remainingScore}}</div>
		</div>  
	</div>
</div>
<div id="gameTimer"></div>
<div class="messageBox {{toastMessage.class}}">{{toastMessage.message}}</div>